<md-content flex
    layout="row"
    md-swipe-left="close()"
    md-swipe-right="menu()"
    md-theme="{{theme}}">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
        md-component-id="menu"
        md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="app-toolbar md-whiteframe-z2"
                ng-animate="animate" md-component-id="menu>
            <div class="md-toolbar-tools">
            {{ 'title_menu' | translate }}
            </div>
        </md-toolbar>
        <ng-include src="'dashboard_menu.html'"></ng-include>
    </md-sidenav>    
    
    <md-content flex
        layout="column">
        <md-toolbar class="md-whiteframe-z2"
            md-scroll-shrink>
            <div class="md-toolbar-tools"
                ng-if="theme == 'deep-purple'">
                <md-button class="md-icon-button"
                    hide-gt-md
                    ng-click="menu()">
                    <md-tooltip>{{ 'action_menu' | translate }}</md-tooltip>
                    <md-icon>menu</md-icon>
                </md-button>
                <h2 class="md-title">{{ 'title_ui_element' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'white'">
                    <md-tooltip>{{ 'action_email' | translate }}</md-tooltip>
                    <md-icon>email</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'white'">
                    <md-tooltip>{{ 'action_notifications' | translate }}</md-tooltip>
                    <md-icon>notifications</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'white'">
                    <md-tooltip>{{ 'action_search' | translate }}</md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>
            </div>

            <div class="md-toolbar-tools"
                ng-if="theme == 'white'">
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'deep-purple'">
                    <md-tooltip>{{ 'action_back' | translate }}</md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <md-input-container flex
                    md-no-float>
                    <br>
                    <input ng-model="$parent.query.$"
                        placeholder="{{ 'action_search' | translate }}"
                        type="search">
                </md-input-container>
                <md-button class="md-icon-button"
                    ng-click="reset()">
                    <md-tooltip>{{ 'action_reset' | translate }}</md-tooltip>
                    <md-icon>cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <div ng-controller="UiElementController" class="md-padding">
          <div layout="row">
            <div flex="50" flex-md="100" layout="column">
              <fieldset class="standard" flex>
                <legend>Using <code>md-checkbox</code> with <code>ng-checked</code></legend>
                <div layout="row" layout-wrap>
                  <div flex="50" ng-repeat="item in items">
                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                      {{ item }} <span ng-if="exists(item, selected)">selected</span>
                    </md-checkbox>
                  </div>
                </div>
              </fieldset>
            </div>
            <div flex="50" flex-md="100" layout="column">
              <fieldset class="standard" flex>
                <legend>Using <code>&lt;input type="checkbox"&gt;</code></legend>
                <div layout="row" layout-wrap>
                  <div ng-repeat="item in items" class="standard" flex="50">
                    <label>
                      <input type="checkbox" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)"/>
                      {{ item }}
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <h2 class="md-title">Selected Items</h2>
          <code style="display: block; padding: 8px;">{{selected | json}}</code>

            <h4>Standard date-picker</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
            <h4>Disabled date-picker</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date" disabled></md-datepicker>
            <h4>Date-picker with min date and max date</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
            <h4>With ngMessages</h4>
            <form name="myForm">
              <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date"
                  required md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
              <div class="validation-messages" ng-messages="myForm.dateField.$error">
                <div ng-message="required">This date is required!</div>
                <div ng-message="mindate">Date is too early!</div>
                <div ng-message="maxdate">Date is too late!</div>
              </div>
            </form>
          </md-content>
        </div>
    </md-content>
</md-content>
